header {
    background-color: rgba(173, 216, 230, 0.514);
     position: fixed; /* Fixed position - sit on top of the page */
      top: 0;
      width: 100%; /* Full width */
      transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
      z-index: 1000;
    }
    
    p{
    padding: 0;
    margin:0;
    }
    
    .carousel-item img {
    margin-top: 250px;
    height: 600px;
    }
    
    #header{
    margin-right:20px;
    }
    
    #name {
    color: #131765;
    margin-top: 50px;
    }
    #contactInfo {
    color: #131765;
    margin-top: 30px;
    }
    
    nav div div a {
    border-right: 1px solid #131765;
    color: #131765;
    }
    
    #biggerFont {
    font-size: 1.5rem;
    }
    
    .nav-link {
    margin-left: 50px;
    padding-right: 125px;
    }
    
    
    
    a:last-child {
    border-right: none;
    }
    
    #logoIcon {
    margin-top: 15px;
    }
    
    