{% extends "master.html.twig" %}

{% block title %}Service management{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            //$('input[name=username]').blur(function() {
            $('input[name=name]').on('keyup keypress blur change cut paste', function() {
                var name = $('input[name=name]').val();
                $('#isTaken3').load("/serviceAdd/isusernametaken/" + name);
            });
        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

{% endblock %}

{% block content %}

    <div id="serviceAddEditContainer" class="container">
        <div class="row  justify-content-center">
            <div class="col-6">
                <img src="../../../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100"class="w-100"/>
            </div>
        </div><br>
        <div class="container">
            {% if errorsList %}
                <ul class="errorMessage">
                    {% for error in errorsList %}
                        <li>{{ error }}</li>
                     {% endfor %}
                </ul>
            {% endif %}
        </div>
<!-- Form for register-->

    <form id="serviceForm" class="mt-3 needs-validation" method="post"  >

        <!-- Name input -->
        <div class="text-danger" id="isTaken3"></div>
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"
                   for="name">Service Name</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="name" id="name" placeholder="Service Name" value="{{ v.name }}"
                       required/>
            </div>
        </div>
        <!-- End of Name input --> 
         
       
          
        <div class="form-group ">
			<label class="d-none d-sm-block " for="service">Category</label>            
            <select class="custom-select" name="category" id="category" required>
            <option value="">--choose category--</option>
            {% if categories %}            
                {% for c in categories %}
                <option value="{{c.id}}" {% if selectedServiceCategory.id == c.id %}selected{% endif %}>{{c.name}}</option>
                {% endfor %}            
            {% endif %}                        
		</div> 
       
         

        <div class="form-group">
            <p for="description">Description</p>                
            <textarea class="form-control" name="description" id="description" rows=3
                      placeholder="Enter description ..." required>{{ v.description }}</textarea>            
        </div>      

             

        <!-- Submit button -->
        <div class="row ">
            <div class="col-12">            
                <button type="submit" class="btn btn-secondary w-100">{% if v.id %}Save  {% else %}Add  {% endif %} Service</button>
            </div>            
        </div>
    </form>
     

 </div><br><br>
<!-- End of Container -->             
      
{% endblock %}