{% extends "master.html.twig" %}

{% block title %}Sercives list{% endblock %}

{% block head %}
    <script>
        function deleteFunction(serviceid){
            var r = confirm("Do you confirm to delete this record?");
            if (r == true){
                window.location.href = "/admin/services/delete/"+serviceid;                               
            }        
        }
    </script>
{% endblock%}

{% block content %}
   <div id="adminServiceContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100" class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">
		<!-- White column -->
       
		<div class="col-12 col-md-12 d-md-flex align-items-md-center bg-light">       
			<!-- Appointments list -->
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">  
                	<div class="col-12"> 
						<a href="/admin/appointments" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Appointments</a>
                    	<a href="/admin/doctors" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none"> Doctors</a>
						<a href="/admin/services" style="background-color: #90D1C4;width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Services</a>
						<a href="/admin/pets" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Pets</a>
						<a href="/admin/categories" style=" width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Categories</a>
					</div> 		
					<p><a href="/admin/services/add" style="width: 130px">Add Service</a></p>							
                    <table border="1" style="font-size:14px;">
                            <tr><th>#</th><th>Servises Name</th><th>Category Name</th><th>Doctor Number </th><th>Description</th><th>Actions</th></tr>
                            {% for s in servicesList %}
                            <tr>
                            <td>{{s.id}}</td>
                            <td>{{s.name}}</td>
                            <td>{{s.categoryName}}</td>
							<td>{{s.totalDoctors}}</td>
							<td>{{s.description | raw }}</td>
							<td>
                                <button style="width: 80px" onclick="deleteFunction('{{s.id}}')" >Delete</button>               
                                <button style="width: 80px" onclick="window.location='/admin/services/edit/{{s.id}}';">Edit</button>
                            </td>   					                                                   
                            </tr>                
                            {% endfor %}
                    </table>
				</div>					
			</div>
			
			<!-- End of Appointments list -->
		</div>
		<!-- End of white column -->	

	</div>
	<!-- End of Wrapper of blue and white column -->
</div>
<br><br>

<!-- ****End of contactContainer**** -->
{% endblock content %}