{% extends "master.html.twig" %}

{% block title %}Pets list{% endblock %}

{% block head %}
    <script>
        function deleteFunction(petid){
            var r = confirm("Do you confirm to delete this record? ");
            if (r == true){
                window.location.href = "/admin/pets/delete/"+petid;                               
            }        
        }
    </script>
{% endblock%}

{% block content %}
   <div id="adminPetContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100" class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">
		<!-- White column -->
       
		<div class="col-12 col-md-12 d-md-flex align-items-md-center bg-light">       
			<!-- Appointments list -->
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">  
                	<div class="col-12"> 
						<a href="/admin/appointments" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Appointments</a>
                    	<a href="/admin/doctors" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none"> Doctors</a>
						<a href="/admin/services" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Services</a>
						<a href="/admin/pets" style="background-color: #90D1C4;width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Pets</a>
						<a href="/admin/categories" style=" width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Categories</a>
					</div> 	
					<p><a href="/admin/pets/add" style="width: 130px">Add Pet</a></p>								
                    <table border="1" style="font-size:14px;">
                            <tr><th>#</th><th>Pet Name</th><th>Pet Type</th><th>Pet Age</th><th>Owner Name</th><th>Owner Phone</th><th>Owner Email</th><th>Register Date</th><th>Username</th><th>Password</th><th>Actions</th></tr>
                            {% for p in petsList %}
                            <tr>
                            <td>{{p.id}}</td>
                            <td>{{p.petName}}</td>
                            <td>{{p.petType}}</td>
							<td>{{p.age}}</td>
							<td>{{p.ownerName}}</td>
							<td>{{p.ownerPhone}}</td>
							<td>{{p.ownerEmail}}</td>
							<td>{{p.registerDate}}</td>
							<td>{{p.username}}</td>
							<td>{{p.password}}</td> 
							<td>
                                <button style="width: 80px" onclick="deleteFunction('{{p.id}}')" >Delete</button>               
                                <button style="width: 80px" onclick="window.location='/admin/pets/edit/{{p.id}}';">Edit</button>
                            </td>                                                                              
                            </tr>                
                            {% endfor %}
                    </table>
				</div>					
			</div>
			
			<!-- End of Appointments list -->
		</div>
		<!-- End of white column -->

		
<br><br>

<!-- ****End of contactContainer**** -->
{% endblock content %}