{% extends "master.html.twig" %}

{% block title %}Pet Add{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            //$('input[name=username]').blur(function() {
            $('input[name=username]').on('keyup keypress blur change cut paste', function() {
                var username = $('input[name=username]').val();
                $('#isTaken2').load("/petAdd/isusernametaken/" + username);
            });
        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

{% endblock %}

{% block content %}

    <div id="petAddEditContainer" class="container">
        <div class="row  justify-content-center">
            <div class="col-6">
                <img src="../../../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100"class="w-100"/>
            </div>
        </div><br>
        <div class="container">
            {% if errorsList %}
                <ul class="errorMessage">
                    {% for error in errorsList %}
                        <li>{{ error }}</li>
                     {% endfor %}
                </ul>
            {% endif %}
        </div>
<!-- Form for register-->

    <form id="petForm" class="mt-3 needs-validation" method="post"  >

        <!-- UserName input -->
        <div class="text-danger" id="isTaken2"></div>
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"
                   for="username">User name</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="username" id="username" placeholder="Your User Name" value="{{ v.username }}"
                       required/>
            </div>
        </div>
        <!-- End of UserName input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"  for="name">Pet Name</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="petName" id="petName" placeholder="Your Pet Name" value="{{ v.petName }}" required/>
            </div>
        </div>

        <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="petType">Pet Type</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="petType" id="petType" placeholder="Your Pet Type" value="{{ v.petType }}" required/>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="petAge">Pet Age</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="petAge" id="petAge" placeholder="Your Pet Age" value="{{ v.age }}" required/>
                </div>
            </div>
        </div>
        </div>
        <!-- End of petName input -->

        <!-- ownername input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"  for="ownerName">Owner Name</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="ownerName" id="ownerName" placeholder="Pet's Owner Name" value="{{ v.ownerName}}" required/>
            </div>
        </div>

        <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="ownerPhone">Owner Phone</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="ownerPhone" id="ownerPhone" placeholder="Pet's Owner Phone" value="{{ v.ownerPhone }}" required/>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="ownerEmail">Owner Email</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="ownerEmail" id="ownerEmail" placeholder="Pet's Owner E-Mail" value="{{ v.ownerEmail }}" required/>
                </div>
            </div>
        </div>
        </div>          
         
        <!-- password input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"
                   for="password">Password</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="password" id="password" placeholder="Your Password"  {% if v.id %} value="{{ v.password }}"{% endif %}required/>
            </div>
        </div>             

        <!-- Submit button -->
        <div class="row ">
            <div class="col-12">            
                <button type="submit" class="btn btn-secondary w-100">{% if v.id %}Save {% else %}Add {% endif %}Pet</button>
            </div>            
        </div>
    </form>
     

 </div><br><br>
<!-- End of Container -->             
      
{% endblock %}