{% extends "master.html.twig" %}

{% block title %}Sercives list{% endblock %}

{% block content %}
   <div id="adminCategoryContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100" class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">
		<!-- White column -->
       
		<div class="col-12 col-md-9 d-md-flex align-items-md-center bg-light">       
			<!-- Appointments list -->
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">  
                	<div class="col-12"> 
						<a href="/admin/appointments" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Appointments</a>
                    	<a href="/admin/doctors" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none"> Doctors</a>
						<a href="/admin/services" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Services</a>
						<a href="/admin/pets" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Pets</a>
						<a href="/admin/categories" style="background-color: #90D1C4; width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Categories</a>
					</div> 									
                    	<table border="1" style="font-size:14px;">
                            <tr><th>#</th><th>Category Name</th><th>Services Number</th></tr>
                            {% for c in categoriesList %}
                            <tr>
                            <td>{{c.id}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.totalServices}}</td>										                                                   
                            </tr>                
                            {% endfor %}
                    </table>
				</div>					
			</div>			
		</div>
		<!-- End of white column -->
	</div>
	<!-- End of Wrapper of blue and white column -->
</div>
<br><br>

<!-- ****End of contactContainer**** -->
{% endblock content %}