{% extends "master.html.twig" %}

{% block title %}Doctors list{% endblock %}
{% block head %}
    <script>
        function deleteFunction(doctorid){
            var r = confirm("Do you confirm to delete this record?");
            if (r == true){
                window.location.href = "/admin/doctors/delete/"+doctorid;                               
            }        
        }
    </script>
{% endblock%}

{% block content %}
   <div id="adminDoctorContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100" class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">
		<!-- White column -->
       
		<div class="col-12 col-md-12 d-md-flex align-items-md-center bg-light">       
			<!-- Appointments list -->
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">  
                    <div class="col-12"> 
					    <a href="/admin/appointments" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Appointments</a>
                        <a href="/admin/doctors" style="background-color: #90D1C4;width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none"> Doctors</a>
                        <a href="/admin/services" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Services</a>
						<a href="/admin/pets" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Pets</a>
                        <a href="/admin/categories" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Categories</a>
                    </div> 	
                    <p><a href="/admin/doctors/add" style="width: 130px">Add Doctor</a></p>								
                    <table  border="1" style="font-size:14px;">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th >Doctor Name</th>
                                <th >Categore Name</th>
                                <th >Service Name</th>
                                <th >License</th>
                                <th >Phone No</th>
                                <th >Email </th>
                                <th >Username</th>
                                <th >Password</th>
                                <th>Photo File</th>
                                <th >Isadmin</th>
                                <th >Description</th>
                                <th >Actions</th>
                            </tr>
                        </thead>
                            {% for d in doctorsList %}
                            <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.name}}</td>
                            <td>{{d.category}}</td>
							<td>{{d.service}}</td>
							<td>{{d.license}}</td>
							<td>{{d.phone}}</td>
							<td>{{d.email}}</td>
							<td>{{d.username}}</td>
							<td>{{d.password}}</td>
							<td><img src="{{d.photoFile}}" width="100" /></td>
                            <td>{{d.isAdmin}}</td>
                            <td>{{d.description  | raw }}</td>
                            <td>
                                <button style="width: 80px" onclick="deleteFunction('{{d.id}}')" >Delete</button>               
                                <button style="width: 80px" onclick="window.location='/admin/doctors/edit/{{d.id}}';">Edit</button>
                            </td>                                                    
                            </tr>                
                            {% endfor %}
                    </table>
				</div>					
			</div>
			
			<!-- End of Appointments list -->
		</div>
		<!-- End of white column -->

	
<br><br>

<!-- ****End of contactContainer**** -->
{% endblock content %}