{% extends "master.html.twig" %}

{% block title %}Appointments list{% endblock %}

{% block content %}
   <div id="adminAppointmentContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100" class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">
		<!-- White column -->
       
		<div class="col-12 col-md-12 d-md-flex align-items-md-center bg-light">       
			<!-- Appointments list -->
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">  
                	<div class="col-12"> 
						<a href="/admin/appointments" style="background-color: #90D1C4;width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Appointments</a>
                    	<a href="/admin/doctors" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none"> Doctors</a>
						<a href="/admin/services" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Services</a>
						<a href="/admin/pets" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Pets</a>
						<a href="/admin/categories" style="width: 130px" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Categories</a>
					</div> 									
                    <table border="1" style="font-size:14px;">
                            <tr><th>#</th><th>Pet Name</th><th>Pet Type</th><th>Pet Age</th><th>Service Name</th><th>Doctor Name</th><th>Reserve Date</th><th>Start Time</th><th>End Time</th><th>Status</th><th>description</th></tr>
                            {% for a in appointmentsList %}
                            <tr>
                            <td>{{a.appointmentId}}</td>
                            <td>{{a.petName}}</td>
                            <td>{{a.petType}}</td>
							<td>{{a.petAge}}</td>
							<td>{{a.serviceName}}</td>
							<td>{{a.doctorName}}</td>
							<td>{{a.appointDate}}</td>
							<td>{{a.startTime}}</td>
							<td>{{a.endTime}}</td>
							<td>{{a.status}}</td>
                            <td>{{a.description  | raw }}</td>                                                    
                            </tr>                
                            {% endfor %}
                    </table>
				</div>					
			</div>
			
			<!-- End of Appointments list -->
		</div>
		<!-- End of white column -->

	

	</div>
	<!-- End of Wrapper of blue and white column -->
</div>
<br><br>

<!-- ****End of contactContainer**** -->
{% endblock content %}