{% extends "master.html.twig" %}

{% block title %}Doctor Add{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            //$('input[name=username]').blur(function() {
            $('input[name=username]').on('keyup keypress blur change cut paste', function() {
                var username = $('input[name=username]').val();
                $('#isTaken1').load("/doctorAdd/isusernametaken/" + username);
            });
        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

{% endblock %}

{% block content %}

    <div id="doctorAddEditContainer" class="container">
        <div class="row  justify-content-center">
            <div class="col-6">
                <img src="../../../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100" class="w-100"/>
            </div>
        </div><br>
        <div class="container">
            {% if errorsList %}
                <ul class="errorMessage">
                    {% for error in errorsList %}
                        <li>{{ error }}</li>
                     {% endfor %}
                </ul>
            {% endif %}
        </div>
<!-- Form for register-->

    <form id="doctorForm" class="mt-3 needs-validation" method="post" enctype="multipart/form-data" >

        <!-- UserName input -->
        <div class="text-danger" id="isTaken1"></div>
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"
                   for="username">User name</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="username" id="username" placeholder="Your User Name" value="{{ v.username }}"
                       required/>
            </div>
        </div>
        <!-- End of UserName input -->

        <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="name">Name</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" value="{{ v.name }}" required/>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="license">License</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="license" id="license" placeholder="Your License" value="{{ v.license }}" required/>
                </div>
            </div>
        </div>
        </div>
        <!-- End of petName input -->

        <!-- ownername input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"
                   for="address">Address</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="address" id="address" placeholder="Your Address" value="{{ v.address }}" required/>
            </div>
        </div>

        <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="city">City</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="city" id="city" placeholder="City" value="{{ v.city }}" required/>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="province">Province</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="province" id="province" placeholder="Province" value="{{ v.province }}" required/>
                </div>
            </div>
        </div>
        </div>

        <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="country">Country</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="country" id="country" placeholder="Country" value="{{ v.country }}" required/>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="Post Code">Post Code</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="postcode" id="country" placeholder="Post Code" value="{{ v.postcode }}" required/>
                </div>
            </div>
        </div>
        </div>

        <!-- phoneNo input -->
        <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="phoneNo">Phone No.</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone Number" value="{{ v.phone }}" required/>
                </div>
            </div>
        </div>
        <!-- End of phoneNo input -->

        <!-- email input -->
        <div class="col-12 col-sm-6">
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-4 col-form-label" for="email">E-Mail</label>
                <div class="col-12 col-sm-8">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Your E-Mail" value="{{ v.email }}" required/>
                </div>
            </div>
        </div>
        </div>
        <!-- End of email input -->         
      

        
        <fieldset class="form-group">
            <div class="row">
                <label class="d-none d-sm-block col-sm-3 col-form-label">Is Admin</label>
                <!-- left side radio inputs -->
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isAdmin" id="true" value="true" {% if v.isAdmin=='true' %}checked{% endif %}/>
                        <label class="form-check-label" for="true">True</label>
                    </div>                    
                </div>
                <!-- End of left side radio inputs -->

                <!-- right side radio inputs -->
                <div class="col-5">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isAdmin" id="false" value="false" {% if v.isAdmin=='false' %}checked{% endif %}/>
                        <label class="form-check-label" for="false">False</label>
                    </div>                    
                </div>
                <!-- End of right side radio inputs -->
            </div>
        </fieldset>    
         
        <!-- password input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"
                   for="password">Password</label>
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" name="password" id="password" placeholder="Your Password"  {% if v.id %} value="{{ v.password }}"{% endif %}required/>
            </div>
        </div>

        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-2 col-form-label"
                   for="photo">Photo</label>
            <div class="col-12 col-sm-10">
                {% if v.id %}
                    <img src="{{v.photoFilePath}}" width="150"><input hidden type="text" class="form-control " name="photo"  placeholder="Your photo"  value="{{ v.photoFilePath }}"required/>                    
                {% else %}
                    <input type="file" class="form-control" name="photoFilePath" id="photoFilePath" placeholder="Choose Your Photo"  required/>
                {% endif %}
            </div>
        </div>
          
        <div class="form-group ">
			<label class="d-none d-sm-block " for="service">Service</label>            
            <select class="custom-select" name="service" id="service" required>
            <option value="">--choose service--</option>
            {% if services %}            
                {% for s in services %}
                <option value="{{s.id}}" {% if selectedDoctorService.id == s.id %}selected{% endif %}>{{s.name}}</option>
                {% endfor %}            
            {% endif %}                        
		</div> 
       
         

        <div class="form-group">
            <p for="description">Description</p>                
            <textarea class="form-control" name="description" id="description" rows=3
                      placeholder="Enter description ..." required>{{ v.description }}</textarea>            
        </div> 
        <!-- End of password input --> 

       

             

        <!-- Submit button -->
        <div class="row ">
            <div class="col-12">            
                <button type="submit" class="btn btn-secondary w-100">{% if v.id %}Save{% else %}Add{% endif %} Doctor</button>
            </div>            
        </div>
    </form>
     

 </div><br><br>
<!-- End of Container -->             
      
{% endblock %}