{% extends "master.html.twig" %}

{% block title %}Appointment{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
/* 			$('select').on('change', function() {
				console.log( this.value );
			}); */
            $("#service").on('change', function() {
				var selectedService  = $(this).children("option:selected").val();
				console.log("service:"+selectedService);
               if(selectedService!=""){
                    $.get("/ajax/loaddoctors/by/"+selectedService).done(function(data){                      
						$("#doctor").html(data);
                  	});
                }else{
                    $.get("/ajax/loaddoctors").done(function(data){
                        $("#doctor").html(data);
                    });
                }
            });



			$("#doctor").on('change', function() {
				var selectedDoctor  = $(this).children("option:selected").val();
				console.log(selectedDoctor);
				var selectedDate  = $("#appointDate").children("option:selected").val();
				console.log("Date:"+selectedDate);
				
                if(selectedDoctor!=""&&selectedDate!=""){
				  	var obj = { date: selectedDate, doctorid:selectedDoctor};
					var dataString = JSON.stringify(obj );
					$.ajax({ 
						url: encodeURI("/ajax/loadtimes"),
						type: "POST",
						dataType: "json",
						data: dataString,
						error: function (jqxhr, status, errorThrown) {
							$("#errormsg").html("AJAX error: " + jqxhr.responseText);							
						}
					}).done(function (data) {
						//alert("Added successfully");
						$("#time").html(data);
					});
                }else{
                    alert("please select date and doctor");
                }
            });
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            alert("Ajax error occured");
        });
    </script>

{% endblock %}

{% block content %}
 <div id="appointmentContainer" class="container"> 	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100"class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">		
       
		<div class="col-12 col-md-9 d-md-flex  bg-light"> 			
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">
				    <h3>Appointments</h3>            										
                    <table border="1">
                            <tr><th>#</th><th>Pet Name</th><th>Pet Type</th><th>Pet Age</th><th>Service Name</th><th>Doctor Name</th><th>Reserve Date</th><th>Start Time</th><th>End Time</th><th>Status</th><th>description</th></tr>
                            {% for a in appointmentsList %}
                            <tr>
                            <td>{{a.appointmentId}}</td>
                            <td>{{a.petName}}</td>
                            <td>{{a.petType}}</td>
							<td>{{a.petAge}}</td>
							<td>{{a.serviceName}}</td>
							<td>{{a.doctorName}}</td>
							<td>{{a.appointDate}}</td>
							<td>{{a.startTime}}</td>
							<td>{{a.endTime}}</td>
							<td>{{a.status}}</td>
                            <td>{{a.description  | raw }}</td>                                                    
                            </tr>                
                            {% endfor %}
                    </table>
				</div>					
			</div>
		</div>
		

		
		<div class="col-12 col-md-3  text-white bg-secondary">
			<div class="container">
            	{% if errorsList %}
                	<ul class="errorMessage">
                    	{% for error in errorsList %}
                        	<li>{{ error }}</li>
                     	{% endfor %}
                	</ul>
            	{% endif %}
        	</div>	
					
			<form id="serviceForm" class="mt-3 needs-validation" method="post"  > 			
			<div class="form-group ">
				<label class="d-none d-sm-block " for="appointDate">Date</label>				        
            	<select class="custom-select " name="appointDate" id="appointDate" required>
            	<option value="">--select date--</option>
            		{% if datesList %}            
                		{% for d in datesList %}
                			<option value="{{d}}" >{{d}}</option>
                		{% endfor %}            
            		{% endif %}
				</select> 				                     
			</div>

			

			<div class="form-group ">
				<label class="d-none d-sm-block " for="service">Service</label>            
            	<select class="custom-select" id="service" name="service"  required>
            	<option value="">--select service--</option>
            		{% if servicesList %}            
                		{% for s in servicesList %}
                		<option value="{{s.id}}" >{{s.name}}</option>
                		{% endfor %}            
            		{% endif %}
				</select>                         
			</div> 
			

			<div class="form-group ">
				<label class="d-none d-sm-block " for="doctor">Doctor</label>            
            	<select class="custom-select" id="doctor" name="doctor"  required>
            	<option value="">--select doctor--</option>
            		{% if doctorsList %}            
                		{% for d in doctorsList %}
                		<option value="{{d.id}}" >{{d.name}}</option>
                		{% endfor %}            
            		{% endif %} 
				</select>                        
			</div> 

			<div class="form-group ">
				<label class="d-none d-sm-block " for="time">Time</label>            
            	<select class="custom-select" name="time" id="time" required>
            	<option value="">--select time--</option>
            		{% if timesList %}            
                		{% for t in timesList %}
                		<option value="{{t.id}}" >{{t}}</option>
                		{% endfor %}            
            		{% endif %}  
				</select>                       
			</div>   
         

        	<div class="form-group">
            <p for="description">Description</p>                
            <textarea class="form-control" name="description" id="description" rows=3
                      placeholder="Enter description ..." required>{{ v.description }}</textarea>            
        	</div>      

			<div  hidden class="form-group row align-items-sm-center">
            	<label class="d-none d-sm-block col-sm-2 col-form-label" for="status">Status</label>
            	<div class="col-12 col-sm-10">
            		<input type="text" class="form-control" name="status" id="status"  value="pending"  required/>
            	</div>
        	</div>        
             

        	<!-- Submit button -->
        	<div class="row ">
            	<div class="col-12">            
                	<button type="submit" class="btn btn-secondary w-100">Submit</button>
            	</div>            
        	</div>
    		</form>
		</div>
		<!-- End of Blue column -->

	</div>
	<!-- End of Wrapper of blue and white column -->
</div>
<br><br>

<!-- ****End of contactContainer**** -->

{% endblock %}