{% extends "master.html.twig" %}

{% block title %}Contact us{% endblock %}

{% block content %}
 <div id="contactContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100"class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">
		<!-- White column -->
       
		<div class="col-12 col-md-6 d-md-flex align-items-md-center bg-light">       
			<!-- Contact Us -->
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">                
					<h2>Contact Us</h2>
					<p>genericEmail@hotmail.com</p>
					<p>T:555-555-5555</p>
                    <p>F:514-514-515</p>
				</div>
				<div class="col-12"> 
					<a href="/reservation" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Make an Appointment</a>
				</div>
				<div class="col-12 mb-3">
					<a href="/services" class="button d-inline-block px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Our Services</a>
				</div>
				
			</div>
			<!-- End of Contact Us -->

		</div>
		<!-- End of white column -->

		<!-- Blue column -->
		<div class="col-12 col-md-6 p-3 d-md-flex align-items-md-center text-white bg-secondary">
			<!-- Opening hours -->
			<div class="row">
				<div class="col-12 col-xl-8 p-3">
					<h3>Opening hours</h3>

					<ul class="p-1 mb-0">
						<li class="mb-2 d-flex justify-content-between border-bottom small">
							<p>Monday to Thursday</p>
							<p>from 6:00 a.m. to 6:00 p.m.</p>
						</li>
						<li class="mb-2 d-flex justify-content-between border-bottom small">
							<p>Friday</p>
							<p>from 6:00 a.m. to 4:00 p.m.</p>
						</li>
						<li class="d-flex justify-content-between border-bottom small">
							<p>Saturday</p>
							<p>from 9:00 a.m. to 12:00 p.m.</p>
						</li>
					</ul>
				</div>
				<!-- End of Opening hours -->

				<!-- Reservation info -->
				<div class="col-12 col-xl-8 p-3">
					<h2>Reservation information</h2>
					<p class="text-justify small"> If there is no availability on reservation for the date you have selected,
                     do not hesitate to contact the office by phone. We may be able to add your name to the waiting list or 
                     have received a last minute cancellation.
					</p>
				</div>
				<!-- End of Reservation info -->
			</div>
		</div>
		<!-- End of Blue column -->

	</div>
	<!-- End of Wrapper of blue and white column -->
</div>
<br><br>

<!-- ****End of contactContainer**** -->

{% endblock %}