{% extends "master.html.twig" %}

{% block title %}Doctors index {% endblock %}

{% block content %}
 <div id="doctorContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="../../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100" class="w-100"/>
        </div>
    </div><br>    
	
	<!-- Wrapper of blue and white column -->
	<div class="row mx-0 w-100 h-100">
		<!-- White column -->
       
		<div class="col-12 col-md-9 d-md-flex align-items-md-center bg-light">       
			<!-- Appointments list -->
           
			<div class="row p-2 pb-4">
				<div class="col-12 mb-3">                
					<h2>Appointments List</h2>
									
                    <table border="1" style="font-size:16px;">
                            <tr><th>#</th><th>Pet Name</th><th>Pet Type</th><th>Pet Age</th><th>Reserve Date</th><th>Start Time</th><th>End Time</th><th>description</th></tr>
                            {% for p in appointmentsList %}
                            <tr>
                            <td style="font-size:14px;">{{p.appointmentId}}</td>
                            <td style="font-size:14px;">{{p.petName}}</td>
                            <td style="font-size:14px;">{{p.petType}}</td>
							<td style="font-size:14px;">{{p.petAge}}</td>
							<td style="font-size:14px;">{{p.appointDate}}</td>
							<td style="font-size:14px;">{{p.startTime}}</td>
							<td style="font-size:14px;">{{p.endTime}}</td>							
                            <td style="font-size:14px;">{{p.description  | raw }}</td>                                                    
                            </tr>                
                            {% endfor %}
                    </table>
					<br><hr/>

				
					<h2>Availibilities</h2>
				
					<form method="POST" action="/doctor/availibilities">				
					<table style="border: 1px solid black;">
        				<thead>
            				<tr>
              					<th>Time\Date</th>
              					{%for day in days%}
              					<th>{{day}}</th>
              					{% endfor %}
            				</tr>
          				</thead>

          				<tbody>
            				{% for availibility in availibilities%}
            				{% set curtime = (loop.index+8) %}
           					<tr>
              					<td>{{ curtime }}:00</td>
              					{% for hour in availibility%}
              					<td>
                    				{%if hour %}
                    				<input  type="checkbox"  name="{{days[loop.index-1]}}_{{curtime}}" value="{{days[loop.index-1]}} {{curtime}}" checked>
                    				<label style="font-size:14px;" for="{{days[loop.index-1]}}">{{days[loop.index-1]}} {{curtime}}:00-{{curtime+1}}:00</label>
                    				{%else%}
                    				<input  type="checkbox" name="{{days[loop.index-1]}}_{{curtime}}" value="{{days[loop.index-1]}} {{curtime}}">
                    				<label  style="font-size:14px;" for="{{days[loop.index-1]}}"> {{days[loop.index-1]}} {{curtime}}:00-{{curtime+1}}:00</label>
                    				{%endif%}
              					</td>
              					{% endfor %}
            				</tr>
            				{% endfor %}
          				</tbody>
    				</table>
					<input type="hidden" id="doctorId" name="doctorId" value="{{doctorId}}">
					<div class="row ">
            			<div class="col-12">            
                			<button type="submit" class="btn btn-secondary w-100"> Submit</button>
            			</div>            
        			</div>
					</form>

				</div>
			</div>
			
			<!-- End of Appointments list -->
		</div>
		<!-- End of white column -->

		<!-- Blue column -->
		<div class="col-12 col-md-3 p-3 d-md-flex align-items-md-center text-white bg-secondary">				
			<!-- Opening hours -->
			<div class="row">
				<div class="col-12 col-xl-8 p-3">
					<h2>{{doctor.name}}</h2>
					<div class="justify-content-center">
					<img src="{{doctor.photoFilePath}}" width="240" />					
					</div>
					
				</div>
				<div class="col-12 col-xl-8 p-3">
					<p>{{doctor.description}}</p>
					
				</div>
				<!-- End of Opening hours -->
			</div>
		</div>
		<!-- End of Blue column -->

	</div>
	<!-- End of Wrapper of blue and white column -->
</div>
<br><br>

<!-- ****End of contactContainer**** -->

{% endblock %}