{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div id="loginContainer1" class="container">
        <div class="row  justify-content-center">
            <div class="col-6">
                <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100"class="w-100"/>
            </div>
        </div><br>
        <div class="container">
           {% if error %}
                <p class="errorMessage">Login failed. You may try again.</p>
            {% endif %}
        </div>
              
<!-- Form for login-->
    <form id="loginForm" class="mt-3 needs-validation" method="post" >

        <!-- UserName input -->       
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="username">User name</label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" name="username" id="username" placeholder="Your User Name"  required/>
            </div>
        </div>
        <!-- End of UserName input -->       

        <!-- password input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="password">Password</label>
            <div class="col-12 col-sm-9">
                <input type="password" class="form-control" name="password" id="password" placeholder="Your Password"  required/>
            </div>
        </div>
        <!-- End of password input --> 

        <!-- Submit button -->
        <div class="row ">
            <div class="col-12">
                <button type="submit" class="btn btn-secondary w-100">Sign up</button>
            </div>            
        </div>
    </form> 

    <div class="row">
        <div class="col-12">
            <img src="../images/staff/dog.png" alt="dogPic" class="w-100"/>
        </div>
    </div>

 </div>
<!-- End of Container -->    

{% endblock %}