{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}

<p><h3>You can not access !</h3></p>

<p><a href="/">Click here</a> to continue.</p>

<img src="/images/forbidden.png" width="200">

{% endblock %}