{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
               <!-- Carousel Image Slider / Not Done CSS -->
<div id="indexContainer" class="container-fluid">
	<div class="container">
		<div id="slides" class="carousel slide" data-ride="carousel">
			<!-- indicators -->
			<ul class="carousel-indicators">
				<li data-target="#slides" data-slide-to="0" class="active"></li>				
			</ul>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="./images/index/pugInBlanky.jpg" alt="First Image">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="display-2">Welcome!</h1>
                        <button type="button" class="btn btn-outline-light btn-lg"><a href="/appointment" class="text-decoration-none text-light">Make an Appointment</a></button>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
        <!-- Jumbotron with about us info? -->
<div id="aboutUs" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-9 col-xl-10">
				<h2>About Us</h2>
				<p class="bigFont">We are a veterinary hospital that has
					been in the business for the past 25 years.
					Our love and care for animals has been growing
					ever since we began. We offer a number of services
					for your beloved companion. Your pet's emotional health 
					is our priority at all times. If you have a concern 
					about your pet and his/her experience at our hospital,
					 please feel free to call us at any time and we would 
					 be happy to discuss this with you prior to your visit.</p>
			</div>

			<div class="col-12 col-md-3 col-xl-2 text-center">
				<div class="card" style="padding:5px 5px 0px 5px;background-color:#bdbdbd;">
					<img class="card-img-top card-height" src="./images/index/dogStick.jpg" alt="Adult Dog Food Picture" width="150"
						 height="150">					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Our Staff -->
<div class="container-fluid">
	<div class="container">
		<h1 class="text-center display-4">Our Staff</h1>
		<hr class="staff-hr">

		<!-- row 1 of staff -->
		<div class="row">
			<div class="col-md-4">
				<div class="card h-100">
					<img class="card-img-top" src="./images/staff/dr16.jpg" alt="Staff Member #16">
					<div class="card-body">
						<h4 class="card-title">Heather Randall</h4>
						<p class="card-text">Animal Health Technician
						Caht Vanier College</p>
						<a href="/team" class="btn btn-outline-secondary">Meet Heather</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100">
					<img class="card-img-top" src="./images/staff/dr14.jpg" alt="Staff Member #14">
					<div class="card-body">
						<h4 class="card-title">Gemma Stevens</h4>
						<p class="card-text">Animal Care/Veterinary Assistant</p>
						<a href="/team" class="btn btn-outline-secondary">Meet Gemma</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card h-100">
					<img class="card-img-top" src="./images/staff/dr15.jpg" alt="Staff Member #15">
					<div class="card-body">
						<h4 class="card-title">Geneviere Beauchamp</h4>
						<p class="card-text">Veterinarian
							DVM University of Montreal</p>
						<a href="/team" class="btn btn-outline-secondary">Meet Geneviere</a>
					</div>
				</div>
			</div>
		</div>

		<!-- row 2 of staff -->
		<div class="row">
			<div class="col-md-4">
				<div class="card h-100">
					<img class="card-img-top" src="./images/staff/dr26.jpg" alt="Staff Member #26">
					<div class="card-body">
						<h4 class="card-title">Nancy Duguay</h4>
						<p class="card-text">Veterinarian
							DVM University of Montreal</p>
						<a href="/team" class="btn btn-outline-secondary">Meet Nancy</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100">
					<img class="card-img-top" src="./images/staff/dr6.jpg" alt="Staff Member #6">
					<div class="card-body">
						<h4 class="card-title">Yannick Massicotte</h4>
						<p class="card-text">Hospital Manager and Owner MSc University of McGi...</p>
						<a href="/team" class="btn btn-outline-secondary">Meet Yannick</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card h-100">
					<img class="card-img-top" src="./images/staff/dr10.jpg" alt="Staff Member #10">
					<div class="card-body">
						<h4 class="card-title">Amanda Morton</h4>
						<p class="card-text">Animal Care / Veterinary Assistant (Lead)</p>
						<a href="/team" class="btn btn-outline-secondary">Meet Amanda</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Services -->
<div class="container-fluid">
	<div id="services" class="container">
		<div class="row ">
			<div class="col-md-9">
				<div class="row">
					<div class="text-center col-12 text-left">
						<h1 class="display-4">Services</h1>
						<hr class="services-hr">
					</div>
					<div class="text-center col-12 col-md-6">
						<a href="/services">
							<h3>Prevention</h3></a>
						<a href="/services">
							<h3>Radiographie</h3></a>
						<a href="/services">
							<h3>Surgery </h3></a>
					</div>
					<div class="text-center col-12 col-md-6">
						<a href="/services">
							<h3>General Clinic</h3></a>
						<a href="/services">
							<h3>MicroChipping</h3></a>
						<a href="/services">
							<h3>Other</h3></a>
					</div>
				</div>
			</div>
			<div class=" col-12 col-md-3  text-center">
				<div class="card" style="padding:5px 5px 0px 5px;background-color:#bdbdbd;">
					<img class="card-img-top card-height" src="./images/index/kittens.jpg" alt="Cat Picture" width="125"
						 height="150">
					
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}