<!DOCTYPE html>
<html>
    <head>        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
        <!-- Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" />
        <!-- Layout CSS -->
	    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>              
        <title>{% block title %}Default{% endblock %} - Fair Pets Vet | Welcome!</title>         
        {% block head %}{% endblock %}
    </head>
    <body>
    <!-- Navigation Bar -->
<div id="navContainer" class="container-fluid">
	<nav id="nav" class="navbar navbar-expand-md navbar-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="./doctor/login">
				<img src="../../../images/layout/attempt3.PNG" alt="Fair Pets Vet Logo" width="100" height="75">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<!-- fix margin -->               
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active ml-sm-1">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item ml-sm-1">
						<a class="nav-link" href="/team">Team</a>
                    </li>                    
					<li class="nav-item ml-sm-1">
						<a class="nav-link" href="/services">Services</a>
					</li>					
					<li class="nav-item ml-sm-1">
						<a class="nav-link" href="/appointment">Appointments</a>
					</li>
					<li class="nav-item ml-sm-1">
						<a class="nav-link" href="/contact" id="resvBtn">Contact Us</a>
					</li>
                    {% if session.user.username ==false %}               
                    <li class="nav-item ml-sm-1">
                        <a class="nav-link" href="/login">Login </a>
                    </li>
                    <li class="nav-item ml-sm-1">
                        <a class="nav-link" href="/register">Register</a>
                    </li>  
                    {% endif %}  
                    {% if session.user.username %}                                               
                    <li class="nav-item ml-sm-1">
                       Welcome,{{ session.user.username }}!
                    </li>
                    <li class="nav-item ml-sm-1">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>    
                    {% endif %}   
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- End of Navigation Bar -->



      
            <div id="content">{% block content %}
            {% endblock %}</div>


        <div id="footer">              
                {% block footer %}
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <hr class="light">
                                <h5>Location</h5>
                                <hr class="light">
                                <p>T:555-555-5555</p>
                                <p>genericEmail@hotmail.com</p>
                                <p>3818 BlackWell Street</p>
                                <p>Fairbanks, Alaska, 99504 </p>
                            </div>
                            <div class="col-md-4">
                            <br>
                                <img src="../../../images/layout/attempt4.png" alt="footerLogo" width="180" height="180">
                            </div>
                            <div class="col-md-4">
                                <hr class="light">
                                <h5>Our Schedule</h5>
                                <hr class="light">
                                <p>Mon-Fri: 9am - 7pm</p>
                                <p>Saturday: 10am - 3pm</p>
                                <p>Sunday: 9am - 1pm</p>
                            </div>
                        </div>

        <!-- Social Medias / Find better way maybe? -->
                        <div class="row">
                            <div class="col-12">
                                <hr class="light-100">
                            </div>


                            <div class="col">
                                <p class="footer-bottom m-0 text-right">&copy; Sherwood Park Animal Hospital</p>
                            </div>
                            <div class="col d-flex align-items-center">
                                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-facebook footer-bottom"></i></a>
                                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-twitter footer-bottom"></i></a>
                                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-instagram footer-bottom"></i></a>
                                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-youtube footer-bottom"></i></a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
                   
    </body>
</html>