{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            //$('input[name=username]').blur(function() {
            $('input[name=username]').on('keyup keypress blur change cut paste', function() {
                var username = $('input[name=username]').val();
                $('#isTaken').load("/register/isusernametaken/" + username);
            });
        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

{% endblock %}

{% block content %}

    <div id="registerContainer" class="container">
        <div class="row  justify-content-center">
            <div class="col-6">
                <img src="../images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100"class="w-100"/>
            </div>
        </div><br>
        <div class="container">
            {% if errorsArray %}
                <ul class="errorMessage">
                    {% for error in errorsArray %}
                        <li>{{ error }}</li>
                     {% endfor %}
                </ul>
            {% endif %}
        </div>
<!-- Form for register-->

    <form id="resvForm" class="mt-3 needs-validation" method="post" >

        <!-- UserName input -->
        <div class="text-danger" id="isTaken"></div>
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="username">User name</label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" name="username" id="username" placeholder="Your User Name" value="{{ v.username }}"
                       required/>
            </div>
        </div>
        <!-- End of UserName input -->

        <!-- PetName input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="petname">Pet name</label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" name="petname" id="petname" placeholder="Your Pet Name" value="{{ v.petname }}" required/>
            </div>
        </div>
        <!-- End of petName input -->

        <!-- ownername input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="ownername">Owner name</label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" name="ownername" id="ownername" placeholder="Your name" value="{{ v.ownername }}" required/>
            </div>
        </div>
        <!-- End of ownername input -->

        <!-- phoneNo input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="phoneNo">Phone No.</label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" name="phoneNo" id="phoneNo" placeholder="Your Phone Number" value="{{ v.phoneNo }}" required/>
            </div>
        </div>
        <!-- End of phoneNo input -->

        <!-- email input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="email">E-Mail</label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" name="email" id="email" placeholder="Your E-Mail" value="{{ v.email }}" required/>
            </div>
        </div>
        <!-- End of email input -->

        <!-- pet Radio input-->
        <fieldset class="form-group">
            <div class="row">
                <label class="d-none d-sm-block col-sm-3 col-form-label">Pet</label>
                <!-- left side radio inputs -->
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pet" id="dog" value="dog" checked/>
                        <label class="form-check-label" for="dog">Dog</label>
                    </div>                    
                </div>
                <!-- End of left side radio inputs -->

                <!-- right side radio inputs -->
                <div class="col-5">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pet" id="cat" value="cat"/>
                        <label class="form-check-label" for="cat">Cat</label>
                    </div>                    
                </div>
                <!-- End of right side radio inputs -->
            </div>
        </fieldset>
        <!-- End of pet radio input-->

        <!-- petage input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="age">Pet age</label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" name="petage" id="petage" placeholder="Your Pet Age" value="{{ v.petage }}" required/>
            </div>
        </div>
        <!-- End of pettype input -->   

        <!-- password input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="password">Password</label>
            <div class="col-12 col-sm-9">
                <input type="password" class="form-control" name="password" id="password" placeholder="Your Password"  required/>
            </div>
        </div>
        <!-- End of password input -->  

        <!-- repassword input -->
        <div class="form-group row align-items-sm-center">
            <label class="d-none d-sm-block col-sm-3 col-form-label"
                   for="repassword">Password Again</label>
            <div class="col-12 col-sm-9">
                <input type="password" class="form-control" name="repassword" id="repassword" placeholder="Your Password"  required/>
            </div>
        </div>
        <!-- End of repassword input -->  

        <!-- Submit button -->
        <div class="row ">
            <div class="col-12">
                <button type="submit" class="btn btn-secondary w-100">Register</button>
            </div>            
        </div>
    </form>
    

    <!-- End of Form -->
    <div class="row">
        <div class="col-12">
            <img src="./images/staff/dog.png" alt="dogPic" class="w-100"/>
        </div>
    </div>

 </div>
<!-- End of Container -->             
      
{% endblock %}