{% extends "master.html.twig" %}

{% block title %}Services{% endblock %}
{% block head %}
<style>
    div.pb_section {
		height: 30%;
		width: 100%;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 40%, #ffffff 95%), url(images/services/DSC_2005.jpg) !important;
		background-size: cover;
	}
	div.pb_section h2 {
		margin-top: 85px;
		font-family: 'Merriweather', Georgia, "Times New Roman", serif;
		font-weight: 500;
		font-size: 4rem;
		letter-spacing: 5px;
		line-height: 50vh;
        text-shadow: 5px 5px 6px ;
        color:grey;
    }
    .dropdown {
		position: relative;
		margin-bottom: 20px;
		/* display: inline-block; */
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 40%;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		padding: 12px 16px;
		z-index: 2;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}	
</style>
{% endblock %}


{% block content %}
<div id="servicesContainer" class="container">

    <div class="pb_section text-center text-justify">
		<h2 id="top-title" > SERVICES </h2>
	</div>

	<div class="container-fluid">

		<div class="container text-center">
			<br>
			<br>
			<div class="row ">
				<div class="col-12 col-lg-8 text-capitalize serv-info-total text-center">
					<h1>A Full Range of Services</h1>
					<h3>FOR YOUR PETS NEEDS</h3>
					<p> As there are such a wide variety of services and procedures that can be provided, if you do not
						see what you are looking for
						listed below, please call the clinic and we can advise you if they are available at City Pets or
						how we
						can help you access them.</p>
					<a href="./reservation" class="btn btn-secondary shadow p-2 mb-6 mt-3">ON LINE APPOINTMENT</a>

					<!-- Only for jump from index page to show services -->
					<div id="jumpHere"></div>

				</div>
				<div class="col-lg-4 top-image">
					<img src="./images/services/services.jpg" alt="serviece-intro-photo"
						class="rounded-circle img-fluid shadow p-3 mb-5 bg-white rounded d-none d-md-none d-lg-block">
					<img src="./images/services/services-photo.jpg" alt="services-long-photo"
						class="d-md-block d-lg-none mt-4 shadow rounded img-fluid">
				</div>
			</div>

			<hr>

			<div class="row text-left">
				<div id="test" class="col-12 col-md-7 col-lg-8 col-xl-4 dropdown">
					<h2><img src="./images/services/icon_service_medecine_generale.jpg" alt="icon-annual-check">
						Prevention <i class="fas fa-sort-down"></i></h2>
					<ul class="dropdown-content">
                    	{% for p in preventionDescriptionList %}
                        	<li>{{ p.description }}</li>
                     	{% endfor %}
                	</ul> 
				</div>

                <div class="col-12 col-md-5 col-lg-4 col-xl-4 dropdown">
					<h2> <img src="./images/services/icon_service_radiographie.jpg" alt="icon-radiographie" width="65" height="65">
						Radiographie <i class="fas fa-sort-down"></i></h2>
					<ul class="dropdown-content">
                    	{% for r in radiographieDescriptionList %}
                        	<li>{{ r.description }}</li>
                     	{% endfor %}
                	</ul> 
				</div>
                
                <div class="col-12 col-md-5 col-lg-4 col-xl-4 dropdown">
					<h2> <img src="./images/services/icon_service_dentisterie.jpg" alt="dental-icon">General Clinic <i class="fas fa-sort-down"></i></h2>
               		<ul class="dropdown-content">
                    	{% for general in generalDescriptionList %}
                        	<li>{{ general.description }}</li>
                     	{% endfor %}
                	</ul>        				
					
				</div>

                <div class="col-12 col-md-7 col-lg-8 col-xl-4 dropdown">
					<h2><img src="./images/services/icon_service_chirurgie.jpg" alt="surgery-icon"> Surgery <i class="fas fa-sort-down"></i></h2>
					<ul class="dropdown-content">
                    	{% for surgery in surgeryDescriptionList %}
                        	<li>{{ surgery.description }}</li>
                     	{% endfor %}
                	</ul>
				</div>

                <div class="col-12 col-md-7 col-lg-8 col-xl-4 dropdown">
					<h2> <img src="./images/services/Microchipping.png" alt="icon-Microchipping" width="65" height="65">
						Microchipping <i class="fas fa-sort-down"></i></h2>
					<ul class="dropdown-content">
                    	{% for m in microchippingDescriptionList %}
                        	<li>{{ m.description }}</li>
                     	{% endfor %}
                	</ul> 
				</div>

				<div class="col-12 col-md-5 col-lg-4 col-xl-4 dropdown">
					<h2><img src="./images/services/icon_service_osteopathie.jpg" alt="osteopathy-icon"> Other <i class="fas fa-sort-down"></i></h2>
					<ul class="dropdown-content">
                    	{% for o in otherDescriptionList %}
                        	<li>{{ o.description }}</li>
                     	{% endfor %}
                	</ul> 
				</div>				
			</div>
		</div>
	</div>	
</div>
<!-- End of Container -->             
      
{% endblock %}