{% extends "master.html.twig" %}

{% block title %}Our team{% endblock %}
{% block head %}
<style>   
    .dropdown {
		position: relative;
		margin-bottom: 20px;
		/* display: inline-block; */
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 40%;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		padding: 12px 16px;
		z-index: 2;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}	
</style>
{% endblock %}

{% block content %}
 <div id="contactContainer" class="container">	
    <div class="row  justify-content-center">
        <div class="col-6">
            <img src="./images/layout/attempt5.png" alt="dogPic"  width="300"
						 height="100"class="w-100"/>
        </div>
    </div><br>    
	
	<!-- teamComtainer -->

    <div class ="row" id="doctor">
        <div class ="col-12 text-center"><h2> <i class="fas fa-paw"></i> Our Doctor </h2></div>                  
        <br/><br/><br/>

        {% for doctor in doctorsList %}                             
        <div  class="col-12 text-center col-md-4 dropdown">
            <img  src="{{doctor.photoFilePath}}" width="250" alt="drPicture"/><br/><br/>
            <div class="dropdown-content">
                <h4 style="color:#90D1C4"> {{doctor.name}}</h4>
                <p>{{doctor.serviceName}}</p>
                <p>{{doctor.description}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<!-- ****End of teamContainer**** -->

{% endblock %}